<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bite exercise stats</title>
<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
<main class="container">
  <hgroup>
    <h2>Django & Chart.js Example</h2>
    <h3>These graphs are based off of a PyBites article by Bob Belderbos titled <a href="https://pybit.es/articles/how-to-make-a-nice-graph-using-django-and-chart-js/">How to make a nice graph using Django and Chart.js</a></h3>
  </hgroup>
  <div class="grid">
  <canvas id="myChart_comp" width="100%"></canvas>
  </div>
  <div class="grid">
  <canvas id="myChart_avg_lvl" width="100%"></canvas>
  </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  const ctx_comp = document.getElementById('myChart_comp').getContext('2d');
  const myChart_comp = new Chart(ctx_comp, {
      type: 'bar',
      data: {
        labels : [{% for item in labels_completion %}"{{ item }}",{% endfor %}],
          datasets: [{
            label: "Bite exercises completed per month",
            data : [{% for item in values_completion %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

  const ctx_avg_lvl = document.getElementById('myChart_avg_lvl').getContext('2d');
  const myChart_avg_lvl = new Chart(ctx_avg_lvl, {
      type: 'line',
      data: {
        labels : [{% for item in labels_avg_user_level %}"{{ item }}",{% endfor %}],
          datasets: [{
            label: "Average user level rating by Bite",
            data : [{% for item in values_avg_user_level %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: false
              }
          }
      }
  });
  </script>

</body>
</html>
